.app {
  max-width: 960px;
  margin: 0 auto;
}

.app-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.document-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.document-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

.document-list-item {
  flex-basis: 32%;
  border: 1px solid black;
  padding: 12px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.document-list-item.pending-delete {
  opacity: 0.5;
}

.document-list-item>.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.num-results {
  display: flex;
  justify-content: space-between;
}

.num-results>.message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Mobile layout. */
@media (max-width: 480px) {
  .app-controls>* {
    width: 100%;
  }

  .app-controls>#search {
    order: 1;
  }

  .app-controls>#upload {
    order: 0;
  }

  .document-stats>* {
    width: 100%;
  }

  .document-list-item {
    flex-basis: 100%;
  }
}
